In [1]:
import pandas as pd
import numpy as np 

# reading train data
train_data = pd.read_csv('pp5i_train.gr.csv')

# droping the index column
train_data.drop(['SNO'], axis=1, inplace=True)

#  Threshold data
train_data[train_data>16000] = 16000
train_data[train_data<20] = 20

# calculating and removing fold differences
train_data['fold_differences'] = train_data.max(axis=1) / train_data.min(axis=1)
train_data.drop(train_data[ train_data['fold_differences']<2 ].index, axis=0, inplace=True)
train_data.drop(['fold_differences'], axis=1, inplace=True)

# reading class labels and adding them to the train data
labels = pd.read_table('pp5i_train_class.txt')
train_data.iloc[-1, :] = labels.T.values
for idx, item in enumerate(train_data.iloc[-1, :]):
    train_data.iloc[-1, idx] = item[0]

train_data = train_data.T



train_data

,0,1,2,3,4,5,6,7,8,9,...,7056,7057,7058,7059,7060,7061,7063,7065,7066,7068
1,30,22,29,76,167,32,20,165,47,101,...,27,20,155,240,27,161,34,116,44,MED
2,46,31,70,208,211,20,20,184,36,130,...,129,20,143,213,27,265,98,123,43,MED
3,31,20,20,244,179,229,20,219,41,131,...,29,20,120,367,24,126,21,142,44,MED
4,31,20,20,39,119,20,20,156,26,86,...,59,20,161,358,27,163,20,134,38,MED
5,26,26,20,85,161,34,20,206,34,140,...,97,20,119,373,41,138,29,153,42,MED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,68,21,35,30,131,20,22,140,37,81,...,51,21,106,181,20,364,34,297,39,JPA
66,77,22,30,31,132,20,20,150,43,128,...,31,26,127,177,26,251,45,267,42,JPA
67,56,25,65,31,158,20,27,173,54,108,...,39,20,73,159,20,315,27,290,36,JPA
68,41,21,32,27,164,20,20,165,74,121,...,37,20,83,137,21,248,46,255,44,JPA
69,38,20,25,20,172,20,20,145,48,118,...,57,40,94,125,20,285,61,397,38,JPA

### MED

In [41]:
med = train_data[ train_data.iloc[:, -1] == "MED" ]
med = med.T
med.drop(med.index[-1], inplace=True)
# med = med.T

med_inverse = train_data[ train_data.iloc[:, -1] != "MED"]
med_inverse = med_inverse.T
med_inverse.drop(med_inverse.index[-1], inplace=True)
# med_inverse = med_inverse.T


# print(med.shape, med_inverse.shape)

med["mean"] = med.mean(axis=1, skipna=True)
med["std"] = med.std(axis=1, skipna=True)
# print(med.head(3))

med_inverse["mean"] = med_inverse.mean(axis=1, skipna=True)
med_inverse["std"] = med_inverse.std(axis=1, skipna=True)
# print(med_inverse.head(3))

nume = med.loc[:,'mean'] - med_inverse.loc[:,'mean']
deno = np.sqrt( med.loc[:,'std'].pow(2)/40  + med_inverse.loc[:,'std'].pow(2)/30)

med.loc[:, 'T'] = nume / deno

med.drop(labels=['mean', 'std'], axis=1, inplace=True)


med.sort_values(['T'], ascending=False, na_position='last', inplace=True)
med['MED'] = "MED"
med.drop(labels='T', axis=1, inplace=True)
top_med = med.iloc[:30, :]
top_med.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
top_med.to_csv('med.csv')
# top_med

e:\python\venv\lib\site-packages\pandas\core\frame.py:6393: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(

### MGL

In [42]:
mgl = train_data[ train_data.iloc[:, -1] == "MGL" ]
mgl = mgl.T
mgl.drop(mgl.index[-1], inplace=True)
# mgl = mgl.T

mgl_inverse = train_data[ train_data.iloc[:, -1] != "MGL"]
mgl_inverse = mgl_inverse.T
mgl_inverse.drop(mgl_inverse.index[-1], inplace=True)
# mgl_inverse = mgl_inverse.T

# print(mgl.shape, mgl_inverse.shape)

mgl["mean"] = mgl.mean(axis=1, skipna=True)
mgl["std"] = mgl.std(axis=1, skipna=True)
# print(mgl.head(3))

mgl_inverse["mean"] = mgl_inverse.mean(axis=1, skipna=True)
mgl_inverse["std"] = mgl_inverse.std(axis=1, skipna=True)
# print(mgl_inverse.head(3))


nume = mgl.loc[:,'mean'] - mgl_inverse.loc[:,'mean']
deno = np.sqrt( mgl.loc[:,'std'].pow(2)/7  + mgl_inverse.loc[:,'std'].pow(2)/63)

mgl.loc[:, 'T'] = nume / deno

mgl.drop(labels=['mean', 'std'], axis=1, inplace=True)
mgl.sort_values(['T'], ascending=False, na_position='last', inplace=True)
mgl['MGL'] = "MGL"
mgl.drop(labels='T', axis=1, inplace=True)
top_mgl = mgl.iloc[:30, :]
top_mgl.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
top_mgl.to_csv('mgl.csv')

### RHB

In [47]:

rhb = train_data[ train_data.iloc[:, -1] == "RHB" ]
rhb = rhb.T
rhb.drop(rhb.index[-1], inplace=True)
# rhb = rhb.T

rhb_inverse = train_data[ train_data.iloc[:, -1] != "RHB"]
rhb_inverse = rhb_inverse.T
rhb_inverse.drop(rhb_inverse.index[-1], inplace=True)
# rhb_inverse = rhb_inverse.T

# print(rhb.shape, rhb_inverse.shape)

rhb["mean"] = rhb.mean(axis=1, skipna=True)
rhb["std"] = rhb.std(axis=1, skipna=True)
# print(rhb.head(3))

rhb_inverse["mean"] = rhb_inverse.mean(axis=1, skipna=True)
rhb_inverse["std"] = rhb_inverse.std(axis=1, skipna=True)
# print(rhb_inverse.head(3))

nume = rhb.loc[:,'mean'] - rhb_inverse.loc[:,'mean']
deno = np.sqrt( rhb.loc[:,'std'].pow(2)/7  + rhb_inverse.loc[:,'std'].pow(2)/63)

rhb.loc[:, 'T'] = nume / deno
rhb.drop(labels=['mean', 'std'], axis=1, inplace=True)

rhb.sort_values(['T'], ascending=False, na_position='last', inplace=True)
rhb['RHB'] = "RHB"
rhb.drop(labels='T', axis=1, inplace=True)
top_rhb = rhb.iloc[:30, :]
top_rhb.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
top_rhb.to_csv('rhb.csv')

e:\python\venv\lib\site-packages\pandas\core\frame.py:6393: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(

In [54]:
epd = train_data[ train_data.iloc[:, -1] == "EPD" ]
epd = epd.T
epd.drop(epd.index[-1], inplace=True)
# epd = epd.T

epd_inverse = train_data[ train_data.iloc[:, -1] != "EPD"]
epd_inverse = epd_inverse.T
epd_inverse.drop(epd_inverse.index[-1], inplace=True)
# epd_inverse = epd_inverse.T

# print(epd.shape, epd_inverse.shape)

epd["mean"] = epd.mean(axis=1, skipna=True)
epd["std"] = epd.std(axis=1, skipna=True)
# print(epd.head(3))

epd_inverse["mean"] = epd_inverse.mean(axis=1, skipna=True)
epd_inverse["std"] = epd_inverse.std(axis=1, skipna=True)
# print(epd_inverse.head(3))

nume = epd.loc[:,'mean'] - epd_inverse.loc[:,'mean']
deno = np.sqrt( epd.loc[:,'std'].pow(2)/10  + epd_inverse.loc[:,'std'].pow(2)/60)

epd.loc[:, 'T'] = nume / deno
epd.drop(labels=['mean', 'std'], axis=1, inplace=True)
epd.sort_values(['T'], ascending=False, na_position='last', inplace=True)
epd['EPD'] = "EPD"
epd.drop(labels='T', axis=1, inplace=True)
top_epd = epd.iloc[:30, :]
top_epd.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
top_epd.to_csv('epd.csv')

e:\python\venv\lib\site-packages\pandas\core\frame.py:6393: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(

In [53]:
for med in top_med.index:
    for mgl in top_epd.index:
        if med == mgl :
            print(med)

In [60]:
jpa = train_data[ train_data.iloc[:, -1] == "JPA" ]
jpa = jpa.T
jpa.drop(jpa.index[-1], inplace=True)
# jpa = jpa.T

jpa_inverse = train_data[ train_data.iloc[:, -1] != "JPA"]
jpa_inverse = jpa_inverse.T
jpa_inverse.drop(jpa_inverse.index[-1], inplace=True)
# jpa_inverse = jpa_inverse.T

print(jpa.shape, jpa_inverse.shape)

jpa["mean"] = jpa.mean(axis=1, skipna=True)
jpa["std"] = jpa.std(axis=1, skipna=True)
# print(jpa.head(3))

jpa_inverse["mean"] = jpa_inverse.mean(axis=1, skipna=True)
jpa_inverse["std"] = jpa_inverse.std(axis=1, skipna=True)
# print(jpa_inverse.head(3))

nume = jpa.loc[:,'mean'] - jpa_inverse.loc[:,'mean']
deno = np.sqrt( jpa.loc[:,'std'].pow(2)/6  + jpa_inverse.loc[:,'std'].pow(2)/64)

jpa.loc[:, 'T'] = nume / deno
jpa.drop(labels=['mean', 'std'], axis=1, inplace=True)
jpa.sort_values(['T'], ascending=False, na_position='last', inplace=True)
jpa['JPA'] = "JPA"
jpa.drop(labels='T', axis=1, inplace=True)
top_jpa = jpa.iloc[:30, :]
top_jpa.sort_index(axis=0, inplace=True, na_position='last', ascending=True)
top_jpa.to_csv('jpa.csv')

(6412, 6) (6412, 63)

e:\python\venv\lib\site-packages\pandas\core\frame.py:6393: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().sort_index(

In [59]:
for med in top_rhb.index:
    for mgl in top_jpa.index:
        if med == mgl :
            print(med)