In [6]:
import pandas as pd

# reading train data
train_data = pd.read_csv('pp5i_train.gr.csv')

In [7]:
# droping the index column
train_data.drop(['SNO'], axis=1, inplace=True)

#  Threshold data
train_data[train_data>16000] = 16000
train_data[train_data<20] = 20

In [8]:
# calculating and removing fold differences
train_data['fold_differences'] = train_data.max(axis=1) / train_data.min(axis=1)
train_data.drop(train_data[ train_data['fold_differences']<2 ].index, axis=0, inplace=True)
train_data.drop(['fold_differences'], axis=1, inplace=True)

In [9]:
# reading class labels and adding them to the train data
labels = pd.read_table('pp5i_train_class.txt')
train_data.iloc[-1, :] = labels.T.values
for idx, item in enumerate(train_data.iloc[-1, :]):
    train_data.iloc[-1, idx] = item[0]

train_data = train_data.T



train_data

,0,1,2,3,4,5,6,7,8,9,...,7056,7057,7058,7059,7060,7061,7063,7065,7066,7068
1,30,22,29,76,167,32,20,165,47,101,...,27,20,155,240,27,161,34,116,44,MED
2,46,31,70,208,211,20,20,184,36,130,...,129,20,143,213,27,265,98,123,43,MED
3,31,20,20,244,179,229,20,219,41,131,...,29,20,120,367,24,126,21,142,44,MED
4,31,20,20,39,119,20,20,156,26,86,...,59,20,161,358,27,163,20,134,38,MED
5,26,26,20,85,161,34,20,206,34,140,...,97,20,119,373,41,138,29,153,42,MED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,68,21,35,30,131,20,22,140,37,81,...,51,21,106,181,20,364,34,297,39,JPA
66,77,22,30,31,132,20,20,150,43,128,...,31,26,127,177,26,251,45,267,42,JPA
67,56,25,65,31,158,20,27,173,54,108,...,39,20,73,159,20,315,27,290,36,JPA
68,41,21,32,27,164,20,20,165,74,121,...,37,20,83,137,21,248,46,255,44,JPA
69,38,20,25,20,172,20,20,145,48,118,...,57,40,94,125,20,285,61,397,38,JPA

## computing T-Test for MED class

In [10]:
med = train_data[ train_data.iloc[:, -1] == "MED" ]
med = med.T
med.drop(med.index[-1], inplace=True)
# med = med.T

med_inverse = train_data[ train_data.iloc[:, -1] != "MED"]
med_inverse = med_inverse.T
med_inverse.drop(med_inverse.index[-1], inplace=True)
# med_inverse = med_inverse.T


med

,1,2,3,4,5,6,7,8,9,10,...,30,31,32,33,34,35,36,37,38,39
0,30,46,31,31,26,28,35,29,21,22,...,84,34,20,32,60,52,26,26,44,51
1,22,31,20,20,26,24,29,20,23,22,...,59,50,33,20,56,32,25,26,29,33
2,29,70,20,20,20,20,20,20,20,20,...,23,20,20,20,56,27,20,20,25,20
3,76,208,244,39,85,23,634,159,50,23,...,42,37,44,39,35,21,20,48,23,47
4,167,211,179,119,161,166,228,267,260,234,...,294,187,222,39,223,213,164,155,206,224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,27,27,24,27,41,55,27,20,20,20,...,27,20,20,29,20,25,23,20,57,20
7061,161,265,126,163,138,107,99,137,161,110,...,131,75,91,141,92,164,103,154,124,107
7063,34,98,21,20,29,20,57,20,23,20,...,36,20,20,21,20,61,20,20,26,32
7065,116,123,142,134,153,152,139,213,193,208,...,202,941,261,117,251,200,142,192,172,156
7066,44,43,44,38,42,46,46,52,32,46,...,62,34,49,25,35,58,39,62,55,38

In [11]:
print(med.shape, med_inverse.shape)

med["mean"] = med.mean(axis=1, skipna=True)
med["std"] = med.std(axis=1, skipna=True)
print(med.head(3))

med_inverse["mean"] = med_inverse.mean(axis=1, skipna=True)
med_inverse["std"] = med_inverse.std(axis=1, skipna=True)
print(med_inverse.head(3))

(6412, 39) (6412, 30)
    1   2   3   4   5   6   7   8   9  10  ...  32  33  34  35  36  37  38  \
0  30  46  31  31  26  28  35  29  21  22  ...  20  32  60  52  26  26  44
1  22  31  20  20  26  24  29  20  23  22  ...  33  20  56  32  25  26  29
2  29  70  20  20  20  20  20  20  20  20  ...  20  20  56  27  20  20  25

   39       mean        std
0  51  34.487179  15.435344
1  33  30.153846  10.398566
2  20  22.897436   9.663027

[3 rows x 41 columns]
   40  41  42   43  44  45  46  47   48  49  ...  62  63  64  65  66  67  68  \
0  42  82  41  112  73  47  72  81   64  71  ...  31  51  71  68  77  56  41
1  29  41  34   35  27  34  44  33   45  39  ...  22  24  20  21  22  25  21
2  20  24  20   82  20  20  41  87  126  28  ...  20  61  62  35  30  65  32

   69       mean        std
0  38  54.166667  18.963269
1  20  28.466667   7.232949
2  25  50.033333  49.706125

[3 rows x 32 columns]

In [14]:
from math import sqrt
import numpy as np 

nume = med.loc[:,'mean'] - med_inverse.loc[:,'mean']
deno = np.sqrt( med.loc[:,'std'].pow(2)/39  + med_inverse.loc[:,'std'].pow(2)/30)

med.loc[:, 'T'] = nume / deno

med

,1,2,3,4,5,6,7,8,9,10,...,33,34,35,36,37,38,39,mean,std,T
0,30,46,31,31,26,28,35,29,21,22,...,32,60,52,26,26,44,51,34.487179,15.435344,-4.626202
1,22,31,20,20,26,24,29,20,23,22,...,20,56,32,25,26,29,33,30.153846,10.398566,0.793897
2,29,70,20,20,20,20,20,20,20,20,...,20,56,27,20,20,25,20,22.897436,9.663027,-2.947625
3,76,208,244,39,85,23,634,159,50,23,...,39,35,21,20,48,23,47,87.846154,109.426134,0.306094
4,167,211,179,119,161,166,228,267,260,234,...,39,223,213,164,155,206,224,203.846154,51.058307,1.369925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,27,27,24,27,41,55,27,20,20,20,...,29,20,25,23,20,57,20,25.461538,9.142311,2.624500
7061,161,265,126,163,138,107,99,137,161,110,...,141,92,164,103,154,124,107,122.487179,48.361816,-4.974022
7063,34,98,21,20,29,20,57,20,23,20,...,21,20,61,20,20,26,32,28.384615,16.294746,-1.333854
7065,116,123,142,134,153,152,139,213,193,208,...,117,251,200,142,192,172,156,216.692308,156.584564,-0.280358
7066,44,43,44,38,42,46,46,52,32,46,...,25,35,58,39,62,55,38,44.025641,12.371363,-0.894409

## computing T-Test for MGL class

In [15]:
mgl = train_data[ train_data.iloc[:, -1] == "MGL" ]
mgl = mgl.T
mgl.drop(mgl.index[-1], inplace=True)
# mgl = mgl.T

mgl_inverse = train_data[ train_data.iloc[:, -1] != "MGL"]
mgl_inverse = mgl_inverse.T
mgl_inverse.drop(mgl_inverse.index[-1], inplace=True)
# mgl_inverse = mgl_inverse.T


mgl

       40   41   42   43   44   45   46
0      42   82   41  112   73   47   72
1      29   41   34   35   27   34   44
2      20   24   20   82   20   20   41
3      29   27   35   30   46   33   38
4     298  264  218  263  256  237  203
...   ...  ...  ...  ...  ...  ...  ...
7060   20   20   20   20   20   20   20
7061  244  185  141  167  207  202  166
7063   20   20   23   39   20   20   76
7065  314  352  415  264  450  449  508
7066   77   65   77   58   80   63   79

[6412 rows x 7 columns]

In [16]:
print(mgl.shape, mgl_inverse.shape)

mgl["mean"] = mgl.mean(axis=1, skipna=True)
mgl["std"] = mgl.std(axis=1, skipna=True)
print(mgl.head(3))

mgl_inverse["mean"] = mgl_inverse.mean(axis=1, skipna=True)
mgl_inverse["std"] = mgl_inverse.std(axis=1, skipna=True)
print(mgl_inverse.head(3))

(6412, 7) (6412, 62)
   40  41  42   43  44  45  46       mean        std
0  42  82  41  112  73  47  72  67.000000  23.940402
1  29  41  34   35  27  34  44  34.857143   5.591539
2  20  24  20   82  20  20  41  32.428571  21.446659
    1   2   3   4   5   6   7   8   9  10  ...  62  63  64  65  66  67  68  \
0  30  46  31  31  26  28  35  29  21  22  ...  31  51  71  68  77  56  41
1  22  31  20  20  26  24  29  20  23  22  ...  22  24  20  21  22  25  21
2  29  70  20  20  20  20  20  20  20  20  ...  20  61  62  35  30  65  32

   69       mean        std
0  38  40.338710  17.116247
1  20  28.806452   9.320181
2  25  34.951613  37.457256

[3 rows x 64 columns]

In [17]:
import numpy as np 

nume = mgl.loc[:,'mean'] - mgl_inverse.loc[:,'mean']
deno = np.sqrt( mgl.loc[:,'std'].pow(2)/39  + mgl_inverse.loc[:,'std'].pow(2)/30)

mgl.loc[:, 'T'] = nume / deno

mgl

       40   41   42   43   44   45   46        mean        std          T
0      42   82   41  112   73   47   72   67.000000  23.940402   5.390631
1      29   41   34   35   27   34   44   34.857143   5.591539   3.146795
2      20   24   20   82   20   20   41   32.428571  21.446659  -0.329698
3      29   27   35   30   46   33   38   34.000000   6.000000  -3.012347
4     298  264  218  263  256  237  203  248.428571  29.495070   5.678349
...   ...  ...  ...  ...  ...  ...  ...         ...        ...        ...
7060   20   20   20   20   20   20   20   20.000000   0.000000  -2.960141
7061  244  185  141  167  207  202  166  187.428571  31.244918   0.207410
7063   20   20   23   39   20   20   76   31.142857  19.408603   0.068533
7065  314  352  415  264  450  449  508  393.142857  79.872092   6.891665
7066   77   65   77   58   80   63   79   71.285714   8.327481  11.825280

[6412 rows x 10 columns]

## computing RHB class T-Test

In [19]:
import numpy as np 


rhb = train_data[ train_data.iloc[:, -1] == "RHB" ]
rhb = rhb.T
rhb.drop(rhb.index[-1], inplace=True)
# rhb = rhb.T

rhb_inverse = train_data[ train_data.iloc[:, -1] != "RHB"]
rhb_inverse = rhb_inverse.T
rhb_inverse.drop(rhb_inverse.index[-1], inplace=True)
# rhb_inverse = rhb_inverse.T

print(rhb.shape, rhb_inverse.shape)

rhb["mean"] = rhb.mean(axis=1, skipna=True)
rhb["std"] = rhb.std(axis=1, skipna=True)
# print(rhb.head(3))

rhb_inverse["mean"] = rhb_inverse.mean(axis=1, skipna=True)
rhb_inverse["std"] = rhb_inverse.std(axis=1, skipna=True)
# print(rhb_inverse.head(3))

nume = rhb.loc[:,'mean'] - rhb_inverse.loc[:,'mean']
deno = np.sqrt( rhb.loc[:,'std'].pow(2)/39  + rhb_inverse.loc[:,'std'].pow(2)/30)

rhb.loc[:, 'T'] = nume / deno

rhb

(6412, 7) (6412, 62)

       47   48   49   50   51   52   53        mean         std         T
0      81   64   71   35   41   54   55   57.285714   14.992515  3.695682
1      33   45   39   27   25   26   27   31.714286    7.105617  1.242845
2      87  126   28   20   39   20   31   50.142857   37.627606  1.940360
3      23   20   20   33  219   41  344  100.000000  119.759282  0.652660
4     190  250  237  179  174  131  237  199.714286   40.027542  0.297334
...   ...  ...  ...  ...  ...  ...  ...         ...         ...       ...
7060   20   22   25   22   21   20   20   21.428571    1.678191 -1.776405
7061  163  190  114  112  337  744  234  270.571429  206.192599  2.544185
7063   30   20   20   20   22   28   30   24.285714    4.463000 -2.141304
7065  134  128  127   90   99   96   74  106.857143   21.155402 -4.742747
7066   43   66   48   42   45   41   32   45.285714    9.617162 -0.033310

[6412 rows x 10 columns]

## computing EPD class T-Test

In [20]:


epd = train_data[ train_data.iloc[:, -1] == "EPD" ]
epd = epd.T
epd.drop(epd.index[-1], inplace=True)
# epd = epd.T

epd_inverse = train_data[ train_data.iloc[:, -1] != "EPD"]
epd_inverse = epd_inverse.T
epd_inverse.drop(epd_inverse.index[-1], inplace=True)
# epd_inverse = epd_inverse.T

print(epd.shape, epd_inverse.shape)

epd["mean"] = epd.mean(axis=1, skipna=True)
epd["std"] = epd.std(axis=1, skipna=True)
# print(epd.head(3))

epd_inverse["mean"] = epd_inverse.mean(axis=1, skipna=True)
epd_inverse["std"] = epd_inverse.std(axis=1, skipna=True)
# print(epd_inverse.head(3))

nume = epd.loc[:,'mean'] - epd_inverse.loc[:,'mean']
deno = np.sqrt( epd.loc[:,'std'].pow(2)/39  + epd_inverse.loc[:,'std'].pow(2)/30)

epd.loc[:, 'T'] = nume / deno

epd

(6412, 10) (6412, 59)

,54,55,56,57,58,59,60,61,62,63,mean,std,T
0,51,34,40,44,27,42,35,49,31,51,40.4,8.077128,-0.765436
1,25,20,24,30,25,21,38,30,22,24,25.9,5.127377,-2.128768
2,23,219,24,32,25,45,20,205,20,61,67.4,73.388282,3.106462
3,251,90,62,164,100,188,55,203,152,53,131.8,66.045136,2.584905
4,173,164,125,174,142,207,137,180,107,147,155.6,28.022134,-4.698209
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,20,20,22,24,24,20,31,20,25,20,22.6,3.382307,-0.851323
7061,170,141,167,170,308,279,410,238,718,374,297.5,165.334963,4.112878
7063,25,23,26,25,25,51,101,25,39,56,39.6,23.414525,2.152798
7065,221,148,222,113,96,170,117,203,136,118,154.4,44.540319,-2.730792
7066,36,39,42,37,33,39,30,37,39,20,35.2,5.996666,-4.305147

## computing JPA class T-Test

In [21]:

jpa = train_data[ train_data.iloc[:, -1] == "JPA" ]
jpa = jpa.T
jpa.drop(jpa.index[-1], inplace=True)
# jpa = jpa.T

jpa_inverse = train_data[ train_data.iloc[:, -1] != "JPA"]
jpa_inverse = jpa_inverse.T
jpa_inverse.drop(jpa_inverse.index[-1], inplace=True)
# jpa_inverse = jpa_inverse.T

print(jpa.shape, jpa_inverse.shape)

jpa["mean"] = jpa.mean(axis=1, skipna=True)
jpa["std"] = jpa.std(axis=1, skipna=True)
# print(jpa.head(3))

jpa_inverse["mean"] = jpa_inverse.mean(axis=1, skipna=True)
jpa_inverse["std"] = jpa_inverse.std(axis=1, skipna=True)
# print(jpa_inverse.head(3))

nume = jpa.loc[:,'mean'] - jpa_inverse.loc[:,'mean']
deno = np.sqrt( jpa.loc[:,'std'].pow(2)/39  + jpa_inverse.loc[:,'std'].pow(2)/30)

jpa.loc[:, 'T'] = nume / deno

jpa

(6412, 6) (6412, 63)

       64   65   66   67   68   69        mean        std         T
0      71   68   77   56   41   38   58.500000  14.840822  3.966327
1      20   21   22   25   21   20   21.500000   1.707825 -5.063769
2      62   35   30   65   32   25   41.500000  15.861379  1.021336
3      28   30   31   31   27   20   27.833333   3.804237 -3.356653
4     170  131  132  158  164  172  154.500000  16.869598 -4.768212
...   ...  ...  ...  ...  ...  ...         ...        ...       ...
7060   20   20   26   20   21   20   21.166667   2.192158 -1.942311
7061  198  364  251  315  248  285  276.833333  52.969855  4.212755
7063   26   34   45   27   46   61   39.833333  12.266712  2.589455
7065  234  297  267  290  255  397  290.000000  52.262160  2.693078
7066   47   39   42   36   44   38   41.000000   3.741657 -1.765417

[6412 rows x 9 columns]

In [6]:
# reading test data and Threshold it 
test_data = pd.read_csv('pp5i_test.gr.csv')
test_data.drop(['SNO'], axis=1, inplace=True)
test_data[test_data>16000] = 16000
test_data[test_data<20] = 20