In [19]:
import pandas as pd

# reading train data
train_data = pd.read_csv('pp5i_train.gr.csv')

In [20]:
# droping the index column
train_data.drop(['SNO'], axis=1, inplace=True)

#  Threshold data
train_data[train_data>16000] = 16000
train_data[train_data<20] = 20

In [21]:
# calculating and removing fold differences
train_data['fold_differences'] = train_data.max(axis=1) / train_data.min(axis=1)
train_data.drop(train_data[ train_data['fold_differences']<2 ].index, axis=0, inplace=True)
train_data.drop(['fold_differences'], axis=1, inplace=True)

In [22]:
# reading class labels and adding them to the train data
labels = pd.read_table('pp5i_train_class.txt')
train_data.iloc[-1, :] = labels.T.values
for idx, item in enumerate(train_data.iloc[-1, :]):
    train_data.iloc[-1, idx] = item[0]

train_data = train_data.T



train_data

,0,1,2,3,4,5,6,7,8,9,...,7056,7057,7058,7059,7060,7061,7063,7065,7066,7068
1,30,22,29,76,167,32,20,165,47,101,...,27,20,155,240,27,161,34,116,44,MED
2,46,31,70,208,211,20,20,184,36,130,...,129,20,143,213,27,265,98,123,43,MED
3,31,20,20,244,179,229,20,219,41,131,...,29,20,120,367,24,126,21,142,44,MED
4,31,20,20,39,119,20,20,156,26,86,...,59,20,161,358,27,163,20,134,38,MED
5,26,26,20,85,161,34,20,206,34,140,...,97,20,119,373,41,138,29,153,42,MED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,68,21,35,30,131,20,22,140,37,81,...,51,21,106,181,20,364,34,297,39,JPA
66,77,22,30,31,132,20,20,150,43,128,...,31,26,127,177,26,251,45,267,42,JPA
67,56,25,65,31,158,20,27,173,54,108,...,39,20,73,159,20,315,27,290,36,JPA
68,41,21,32,27,164,20,20,165,74,121,...,37,20,83,137,21,248,46,255,44,JPA
69,38,20,25,20,172,20,20,145,48,118,...,57,40,94,125,20,285,61,397,38,JPA

In [23]:
med = train_data[ train_data.iloc[:, -1] == "MED" ]
med = med.T
med.drop(med.index[-1], inplace=True)
# med = med.T

med_inverse = train_data[ train_data.iloc[:, -1] != "MED"]
med_inverse = med_inverse.T
med_inverse.drop(med_inverse.index[-1], inplace=True)
# med_inverse = med_inverse.T


med

,1,2,3,4,5,6,7,8,9,10,...,30,31,32,33,34,35,36,37,38,39
0,30,46,31,31,26,28,35,29,21,22,...,84,34,20,32,60,52,26,26,44,51
1,22,31,20,20,26,24,29,20,23,22,...,59,50,33,20,56,32,25,26,29,33
2,29,70,20,20,20,20,20,20,20,20,...,23,20,20,20,56,27,20,20,25,20
3,76,208,244,39,85,23,634,159,50,23,...,42,37,44,39,35,21,20,48,23,47
4,167,211,179,119,161,166,228,267,260,234,...,294,187,222,39,223,213,164,155,206,224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,27,27,24,27,41,55,27,20,20,20,...,27,20,20,29,20,25,23,20,57,20
7061,161,265,126,163,138,107,99,137,161,110,...,131,75,91,141,92,164,103,154,124,107
7063,34,98,21,20,29,20,57,20,23,20,...,36,20,20,21,20,61,20,20,26,32
7065,116,123,142,134,153,152,139,213,193,208,...,202,941,261,117,251,200,142,192,172,156
7066,44,43,44,38,42,46,46,52,32,46,...,62,34,49,25,35,58,39,62,55,38

In [24]:
print(med.shape, med_inverse.shape)

med["mean"] = med.mean(axis=1, skipna=True)
med["std"] = med.std(axis=1, skipna=True)
print(med.head(3))

med_inverse["mean"] = med_inverse.mean(axis=1, skipna=True)
med_inverse["std"] = med_inverse.std(axis=1, skipna=True)
print(med_inverse.head(3))

(6412, 39) (6412, 30)
    1   2   3   4   5   6   7   8   9  10  ...  32  33  34  35  36  37  38  \
0  30  46  31  31  26  28  35  29  21  22  ...  20  32  60  52  26  26  44
1  22  31  20  20  26  24  29  20  23  22  ...  33  20  56  32  25  26  29
2  29  70  20  20  20  20  20  20  20  20  ...  20  20  56  27  20  20  25

   39       mean        std
0  51  34.487179  15.435344
1  33  30.153846  10.398566
2  20  22.897436   9.663027

[3 rows x 41 columns]
   40  41  42   43  44  45  46  47   48  49  ...  62  63  64  65  66  67  68  \
0  42  82  41  112  73  47  72  81   64  71  ...  31  51  71  68  77  56  41
1  29  41  34   35  27  34  44  33   45  39  ...  22  24  20  21  22  25  21
2  20  24  20   82  20  20  41  87  126  28  ...  20  61  62  35  30  65  32

   69       mean        std
0  38  54.166667  18.963269
1  20  28.466667   7.232949
2  25  50.033333  49.706125

[3 rows x 32 columns]

In [38]:
from math import sqrt
import numpy as np 

nume = med.loc[:,'mean'] - med_inverse.loc[:,'mean']
deno = np.sqrt( med.loc[:,'std'].pow(2)/39  + med_inverse.loc[:,'std'].pow(2)/30)

med.loc[:, 'T'] = nume / deno

med

,1,2,3,4,5,6,7,8,9,10,...,33,34,35,36,37,38,39,mean,std,T
0,30,46,31,31,26,28,35,29,21,22,...,32,60,52,26,26,44,51,34.487179,15.435344,-4.626202
1,22,31,20,20,26,24,29,20,23,22,...,20,56,32,25,26,29,33,30.153846,10.398566,0.793897
2,29,70,20,20,20,20,20,20,20,20,...,20,56,27,20,20,25,20,22.897436,9.663027,-2.947625
3,76,208,244,39,85,23,634,159,50,23,...,39,35,21,20,48,23,47,87.846154,109.426134,0.306094
4,167,211,179,119,161,166,228,267,260,234,...,39,223,213,164,155,206,224,203.846154,51.058307,1.369925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,27,27,24,27,41,55,27,20,20,20,...,29,20,25,23,20,57,20,25.461538,9.142311,2.624500
7061,161,265,126,163,138,107,99,137,161,110,...,141,92,164,103,154,124,107,122.487179,48.361816,-4.974022
7063,34,98,21,20,29,20,57,20,23,20,...,21,20,61,20,20,26,32,28.384615,16.294746,-1.333854
7065,116,123,142,134,153,152,139,213,193,208,...,117,251,200,142,192,172,156,216.692308,156.584564,-0.280358
7066,44,43,44,38,42,46,46,52,32,46,...,25,35,58,39,62,55,38,44.025641,12.371363,-0.894409

In [6]:
# reading test data and Threshold it 
test_data = pd.read_csv('pp5i_test.gr.csv')
test_data.drop(['SNO'], axis=1, inplace=True)
test_data[test_data>16000] = 16000
test_data[test_data<20] = 20